@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', Arial, sans-serif;
}

html, body {
  height: 100%;
}

body {
  background: #099b66;
  padding: 2vw;
}

#center-container {
  height: 60%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.options-container {
  /*background: rgba(0,0,0,0.3);*/
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

h1 {
  color: white;
  font-weight: 200;
  font-size: 90px;
  text-align: center;
  margin-top: 0;
}

h3 {
  color: white;
  font-weight: 100;
  margin: 10px 0;
  font-size: 32px;
}

button {
  color: white;
  font-size: 32px;
  background: #099bFF;
  height: 50px;
  width: 70px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border: none;
  border-radius: 5px;
}

button:active {
  background: #9999FF;
}

select {
  border: none;
  border-radius: 5px;
  background: #099bFF;
  font-size: 32px;
  color: white;
}

.message {
  width: 25vw;
  height: 30px;
  border: none;
  border-radius: 5px;
  position: relative;
  bottom: 5px;
}
